body {background-color: blueviolet;
     }
   .parte01 {background-color: bisque;
    h1{text-align: center;}
    }
    #ima1 {width: 60%;}
    .parte02 {background-color: rgb(255, 255, 165);
      }
    .parte03 {background-color: aquamarine;
      }
